
* {
	border: none;
	border-radius: 0;
	font-family: Iosevka Nerd Font;
	font-size: 12px;
	min-height: 12px;
}

window#waybar {
	background: #1e1d2e;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
  margin-top: 0px;
  padding-left: 16px;
  padding-right: 16px;
	border-radius: 26px;
	transition: none;
  color: #f8f8f2;
	background: #1e1d2e;
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 0px;
	margin-left: 0px;
  margin-right: 0px;
	margin-bottom: 0;
	border-radius: 0px;
	background: #1e1d2e;
	transition: none;
}

#workspaces button {
  padding-left: 2px;
  padding-right: 2px;
	transition: none;
	color: #f8f8f2;
	background: transparent;
	font-size: 11px;
}

#workspaces button.focused {
	color: #4d4d4d;
	background: #96cdfb;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #f28fad;
}

#network {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: #89dceb;
}

#pulseaudio {
	margin-top: 0px;
	margin-left: 0px;
  margin-right: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: #abe9b3;
}

#backlight {
	margin-top: 0px;
	margin-left: 0px;
  margin-right: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: #fae380;
}

#battery {
	margin-top: 0px;
	margin-left: 0px;
  margin-right: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: #fae3b0;
}

#clock {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0;
	border-radius: 0px;
	transition: none;
	color: #4d4d4d;
	background: #f5c2e7;
}
